* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  width: 100vw;
  background: linear-gradient(to right, lightblue 65%, lightgreen);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: clamp(.5rem, 4vw, 3rem);
  gap: .5rem;
  place-items: center end;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: clamp(1rem, 6vw, 2.5rem);
}

.text {
  font-size: clamp(.5rem, 3vw, 1.5rem);
}

img {
  width: clamp(100px, 100%, 500px);
  aspect-ratio: 1 / 1;
}

button {
  font-size: clamp(.5rem, 3vw, 1.5rem);
  background: black;
  color: white;
  border: none;
  padding: .5em;
  align-self: center;
  margin-top: clamp(.5rem, 5vh, 2rem);
}

button:hover {
  transform: scale(1.1);
}